<div class="mdl-grid mdl-cell--12-col">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <span class="field__name">{{ primaryLabel }}</span>
      <div class="mdl-textfield mdl-js-textfield">
        <select #primarySelect [formControl]="primaryControl" id="ds-{{primaryLabel}}" name="ds-{{primaryLabel}}" class="mdl-textfield__input">
          <option value></option>
          <option *ngFor="let o of options;" [value]="o.value">{{ o.text }}</option>
        </select>
        <label class="mdl-textfield__label" for="ds-{{primaryLabel}}">{{ options.length ? 'Elije una opción': 'Cargando...'}}</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <span class="field__name">{{ secondaryLabel }}</span>
      <div class="mdl-textfield mdl-js-textfield">
        <select [formControl]="secondaryControl" id="ds-{{secondaryLabel}}" name="ds-{{secondaryLabel}}" class="mdl-textfield__input">
          <option value></option>
          <option *ngFor="let o of currentSecondary;" [value]="o.value">{{ o.text }}</option>
        </select>
        <label class="mdl-textfield__label" for="ds-{{secondaryLabel}}">{{ currentSecondary.length ? 'Elije una opción' : 'Elije una opción de la primera lista'}}</label>
      </div>
    </div>
  </div>
