<app-card
  [action]="chartAction"
  [title]="chartTitle"
  [loadingText]="loadingText"
  [loading]="loading"
  [errorText]="errorText"
  (retry)="failed.emit($event)"
  (primaryAction)="toggleChart()">
  <div *ngIf="useDataset(chartType)" class="chart-holder">
      <canvas *ngIf="chartData.length && !loading" baseChart
        [options]="ChartOptions"
        [chartType]="chartType"
        [labels]="chartLabels"
        [datasets]="chartData"
        [colors]="ChartColors"></canvas>
    </div>
    <div *ngIf="!useDataset(chartType)" class="chart-holder">
      <canvas *ngIf="chartData.length && !loading" baseChart
        [options]="ChartOptions"
        [chartType]="chartType"
        [labels]="chartLabels"
        [data]="chartData"
        [colors]="ChartColors"></canvas>
    </div>
</app-card>
