<dialog #filterDialog class="mdl-dialog mdl-cell--9-col mdl-cell--8-col-tablet cell ">
  <h4 class="mdl-dialog__title">Filtrar Resultados</h4>
  <form class="filter-form mdl-grid" [formGroup]="filterForm" novalidate (ngSubmit)="sendFilters()">
    <div class="mdl-dialog__content mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet filters">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col cell__header mdl-grid">
            <h6 class="cell__title mdl-typography--title">Filtro de Fecha</h6>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <span class="field__name">Fecha de Inicio</span>
            <div class="mdl-textfield mdl-js-textfield">
              <app-flatpickr id="finicio" [control]="filterFechaInicio" [options]="startOptions"></app-flatpickr>
              <label class="mdl-textfield__label" for="finicio">Fecha Inicio</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col">
            <span class="field__name">Fecha de Fin</span>
            <div class="mdl-textfield mdl-js-textfield">
              <app-flatpickr id="ffin" [control]="filterFechaFin" [options]="endOptions"></app-flatpickr>
              <label class="mdl-textfield__label" for="ffin">Fecha Fin</label>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--8-col" style="display: flex; align-items: center">
        <div class="mdl-grid">
          <h3 class="mdl-typography--display-2">Más filtros en camino</h3>
        </div>
      </div>
    </div>
    <div class="mdl-dialog__actions mdl-cell mdl-cell--12-col">
      <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" [disabled]="!filterForm.valid">
       Aplicar Filtros
      </button>
      <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="closeDialog()">
       Cancelar
      </button>
    </div>
  </form>
</dialog>

<button
  id="filter-fab"
  class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp"
  (click)="showDialog()">
  <span class="material-icons mdl-color-text--primary-contrast mdl-badge mdl-badge--overlap" [attr.data-badge]="activeFilters">filter_list</span>
</button>
<div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="filter-fab">
  Filtrar Resultados
</div>
