.mdl-navigation__link.mdl-navigation__link.mdl-navigation__link {
  padding: 1.2rem 0;
  text-align: center;
  color: #00a4a3;
  cursor: pointer;
  &.mdl-navigation__link--active {
    background: #00a4a3;
    color: #fff;
  }
}
