<app-filter (applyFilters)="applyFilters($event)" [filters]="currentFilters"></app-filter>
<div class="info__header mdl-grid">
  <div class="headline mdl-cell mdl-cell--12-col">
    <a id="btn-back" [routerLink]="['../']" class="mdl-button mdl-js-button mdl-js-ripple-effect back-btn mdl-color--primary-dark">
      <i class="material-icons mdl-color-text--primary-contrast">arrow_back</i>
    </a>
    <h3 class="title mdl-color-text--primary">{{ SucursalState.info.Title }}</h3>
  </div>
  <app-chart-card
    class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2dp"
    style="font-size: 1.5rem;"
    chartType="line"
    chartTitle="Historico de Encuestas"
    loadingText="Cargando Historial de Encuestas"
    (failed)="loadHistoricoEncuestas(QuestionsQuery)"
    [loading]="SucursalState.historicoEncuestas.loading"
    [errorText]="SucursalState.historicoEncuestas.errorText"
    [chartLabels]="SucursalState.historicoEncuestas.labels"
    [chartData]="SucursalState.historicoEncuestas.data"
    [chartColors]="SucursalState.historicoEncuestas.colors">
  </app-chart-card>
  <app-totales-container
    class="mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet"
    [total]="totalGeneral | async"
    [hoy]="totalHoy | async"
    [indice]="indiceSucursal | async"
    [contactos]="nuevosContactos | async"
    fullCards="true">
  </app-totales-container>
</div>
<section class="section section--staff-kpi">
  <div class="mdl-grid">
    <app-staf-ranking-card
      class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col"
      style="font-size: 1.5rem;"
      (failed)="loadRankingCamareros(QuestionsQuery)"
      [errorText]="questionError"
      [loading]="false"
      [staffData]="SucursalState.staffRanking"
    ></app-staf-ranking-card>
    <div class="mdl-cell mdl-cell--8-col"></div>
  </div>
</section>
<section class="section section--charts">
  <div class="mdl-grid main-content">
    <div class="mdl-cell mdl-cell--12-col qa-holder">
      <h4 style="margin-bottom: 0;">Gráficas y estadisticas</h4>
      <div class="mdl-grid charts-list" *ngIf="!SucursalState.loading || SucursalState.closeQuestions.length">
        <app-chart-card
          class="mdl-cell mdl-card"
          *ngFor="let q of SucursalState.closeQuestions; let i = index;"
          chartType="pie"
          loadingText="Respuesta {{ i + 1 }}"
          (failed)="loadCloseAnswer(i)"
          [errorText]="chartErrors[i]"
          [chartTitle]="q.pregunta"
          [chartLabels]="SucursalState.answerCharts[q.idPregunta][0]"
          [chartData]="SucursalState.answerCharts[q.idPregunta][1]" [chartColors]="SucursalState.answerCharts[q.idPregunta][2]">
        </app-chart-card>
      </div>
      <div class="mdl-grid loading-holder mdl-typography--text-center" *ngIf="SucursalState.loading && !SucursalState.closeQuestions.length">
        <div class="content">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
          <h4 class="mdl-typography--text-center">{{ SucursalState.currentAction }}</h4>
        </div>
      </div>
      <!-- Questions Loading Indicator -->
      <div class="mdl-grid empty-holder" *ngIf="!SucursalState.loading && !SucursalState.closeQuestions.length && !questionError">
        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <i class="material-icons">mood_bad</i><br /> NO HAY PREGUNTAS EN ESTE PERÍODO
        </h4>
      </div>
      <!-- Empty Response Indicator -->
      <div class="mdl-grid empty-holder" *ngIf="!SucursalState.loading && !SucursalState.closeQuestions.length && questionError">
        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <i class="material-icons">error</i><br /> {{ questionError }}
        </h4>
      </div>
      <!-- Error Response Indicator -->
    </div>
  </div>
</section>
<section class="section">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
    <app-answers-tabs title="Pregunta Abierta" (failed)="loadOpenAnswers($event)" [questionsErrorText]="questionError" [answersErrorText]="openAnswersError" [loading]="SucursalState.loading" [questions]="SucursalState.openQuestions" [answers]="SucursalState.openAnswers"></app-answers-tabs>
  </div>
  </div>
</section>

<!-- tooltips, menu and hidden stuffs -->
<div class="mdl-tooltip mdl-tooltip--right" for="btn-back"> Volver a la lista de sucursales </div>
