:host {
  position: relative;
}
.info__header .headline{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  .title {
    flex: 1 0;
    margin-left: 1rem;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
.main-content {
  min-height: 90vh;
}
.loading-holder,
.empty-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.6);
}

.qa-holder,
.rating-container {
  position: relative;
}
.mdl-layout__header {
  padding: 0 1rem;
  &-row {
    padding: 0;
  }
}
.mdl-data-table {
  width: 100%;
  border: none;
}
.rating-container {
  max-height: 330px;
  overflow-y: auto;
}
.mini-title {
  padding-left: 1rem;
}

pre {
  font-family: Fira Code, Courier New, Courier, monospace;
}

.load-optional-info {
  text-align: center;
  padding-bottom: .75rem;
  margin-bottom: 1.5rem;
}
