:host {
  display: block;
  position: relative;
}
.info__header .headline{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  .title {
    flex: 1 0;
    margin-left: 1rem;
  }
}
.main-content {
  min-height: 90vh;
}
.loading-holder,
.empty-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.6);
}

.qa-holder {
  position: relative;
}
