:host {
  display: block;
  position: relative;
}
.back-btn {
  position: relative;
  left: 1rem;
  margin-bottom: 1rem;
  top: 1rem;
}
.info__header .headline{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  .title {
    flex: 1 0;
  }
}

.comments-list {
  .comment {
    padding: 1em;
  }
}
.charts-list {
  .chart {
    .chart-title {
      background: #BDBDBD;
      margin: 0;
      padding: 1em 0;
      text-align: center;
    }
    .chart-holder {
      min-height: 12rem;
    }
  }
}
