<div class="info__header mdl-shadow--16dp">
  <div class="headline">
    <a id="btn-back" [routerLink]="['../']" class="mdl-button mdl-js-button mdl-js-ripple-effect back-btn mdl-color--primary-contrast">
      <i class="material-icons">arrow_back</i>
    </a>
    <h3 class="title">{{ SucursalState.info.Title }}</h3>
  </div>
</div>
<section class="section section--info">
  <app-toolbar (applyFilters)="applyFilters($event)" [totalHoy]="'35'" [totalGeneral]="'420'"></app-toolbar>
  <div class="mdl-grid mdl-color--primary-contrast main-content">
    <div class="mdl-cell mdl-cell--8-col qa-holder">
      <h4 style="margin-bottom: 0;">Gráficas y estadisticas</h4>
      <div class="mdl-grid charts-list" *ngIf="!SucursalState.loading || SucursalState.closeQuestions.length">
        <app-chart-card
          class="mdl-cell mdl-card"
          *ngFor="let q of SucursalState.closeQuestions; let i = index;"
          chartType="pie"
          lodingText="Respuesta {{ i + 1 }}"
          (failed)="loadCloseAnswer(i)"
          [errorText]="chartErrors[i]"
          [chartTitle]="q.pregunta"
          [chartLabels]="closeAnswers.length >= (i + 1) ? closeAnswers[i][0] : []"
          [chartData]="closeAnswers.length >= (i + 1) ? closeAnswers[i][1] : []"
          [chartColors]="COLORS"
          >
        </app-chart-card>
      </div>
      <div class="mdl-grid loading-holder mdl-typography--text-center" *ngIf="SucursalState.loading && !SucursalState.closeQuestions.length">
        <div class="content">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
          <h4 class="mdl-typography--text-center">{{ SucursalState.currentAction }}</h4>
        </div>
      </div> <!-- Questions Loading Indicator -->
      <div class="mdl-grid empty-holder" *ngIf="!SucursalState.loading && !SucursalState.closeQuestions.length && !questionError">
        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <i class="material-icons">mood_bad</i><br /> NO HAY PREGUNTAS EN ESTE PERÍODO
        </h4>
      </div> <!-- Empty Response Indicator -->
      <div class="mdl-grid empty-holder" *ngIf="!SucursalState.loading && !SucursalState.closeQuestions.length && questionError">
        <h4 class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <i class="material-icons">error</i><br /> {{ questionError }}
        </h4>
      </div> <!-- Error Response Indicator -->
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-typography--text-center">
      <app-answers-tabs
        title="Pregunta Abierta"
        (failed)="loadOpenAnswers($event)"
        [questionsErrorText]="questionError"
        [answersErrorText]="openAnswersError"
        [loading]="SucursalState.loading"
        [questions]="SucursalState.openQuestions"
        [answers]="SucursalState.openAnswers"
      ></app-answers-tabs>
    </div>
  </div>
</section>

<!-- tooltips, menu and hidden stuffs -->
<div class="mdl-tooltip mdl-tooltip--right" for="btn-back"> Volver a la lista de sucursales </div>
