<app-filter
  (applyFilters)="ApplyQueryParams($event)"
  [filters]="activeBranch.currentQuery">
</app-filter>
<div class="info__header mdl-grid">
  <div class="headline mdl-cell mdl-cell--12-col">
    <a id="btn-back" [routerLink]="['../']" class="mdl-button mdl-js-button mdl-js-ripple-effect back-btn mdl-color--primary">
      <i class="material-icons mdl-color-text--primary-contrast">arrow_back</i>
    </a>
    <h3 id="branch-list" class="title mdl-color-text--primary">{{ activeBranch.info.Title }}
      <i class="material-icons" style="font-size: 1em;">arrow_drop_down</i>
    </h3>
  </div>
  <app-chart-card
    class="mdl-cell mdl-cell--9-col mdl-card mdl-shadow--2dp mdl-cell--order-2 mdl-cell--order-1-desktop"
    style="font-size: 1.5rem;"
    chartType="bar"
    chartTitle="Histórico de Encuestas"
    (failed)="FetchHistoric()"
    [loading]="activeBranch.requests.HISTORIC.isLoading && !chartData.historic.labels.length"
    [loadingText]="activeBranch.requests.HISTORIC.text || 'Cargando Histórico de Encustas'"
    [errorText]="activeBranch.requests.HISTORIC.error ? activeBranch.requests.HISTORIC.error.text : ''"
    [chartLabels]="chartData.historic.labels"
    [chartData]="chartData.historic.data"
    [chartColors]="chartData.historic.colors">
  </app-chart-card>
  <app-totales-container
    class="mdl-cell mdl-cell--3-col-desktop mdl-cell--8-col-tablet mdl-cell--order-1 mdl-cell--order-2-desktop"
    [total]="totalGeneral | async"
    [hoy]="totalToday | async"
    [indice]="branchIndex | async"
    [contactos]="newContacts | async"
    tipoIndice="de Sucursal"
    fullCards="true">
  </app-totales-container>
</div>
<section class="section section--staff-kpi">
  <div class="mdl-grid">
    <app-staff-ranking-card
      class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col"
      style="font-size: 1.5rem;"
      (failed)="FetchStaffRanking()"
      [currentFilter]="activeBranch.currentQuery"
      [errorText]="activeBranch.requests.STAFF.error ? activeBranch.requests.STAFF.error.text : ''"
      [loading]="activeBranch.requests.STAFF.isLoading"
      [staffData]="activeBranch.staffRanking"
    ></app-staff-ranking-card>
    <app-kpi-card
      class="mdl-cell mdl-cell--8-col"
      [indiceSatisfaccion]="branchIndex | async"
      [kpis]="activeBranch.kpis"
      [loading]="activeBranch.requests.KPI.isLoading"
      [errorText]="activeBranch.requests.KPI.error ? activeBranch.requests.KPI.error.text : ''"
    ></app-kpi-card>
  </div>
</section>

<section class="section section--optional-branch-info" *ngIf="needsCloseAnswers">
  <section class="section section--charts">
    <div class="mdl-grid main-content">
      <div class="mdl-cell mdl-cell--12-col qa-holder">
        <div class="mdl-grid charts-list" *ngIf="!activeBranch.requests.QUESTIONS.isLoading || activeBranch.closeQuestions.length">
          <app-chart-in-loop
            class="mdl-cell mdl-cell--4-col-desktop mdl-card"
            *ngFor="let q of activeBranch.closeQuestions; let i = index;"
            type="pie"
            loadingText="Respuesta {{ i + 1 }}"
            (failed)="LoadCloseAnswer(q.idPregunta)"
            [chartTitle]="q.pregunta"
            [errorText]="GetRequestAnswerInfo('ACLOSE', q.pregunta).error?.text"
            [chartData]="GetAnswerDisplayData('ACLOSE', q.pregunta)"
            [chartInfo]="GetRequestAnswerInfo('ACLOSE', q.pregunta)"
          ></app-chart-in-loop>
        </div>
        <!-- Questions Loading Indicator -->
        <div class="mdl-grid loading-holder mdl-typography--text-center" *ngIf="activeBranch.requests.QUESTIONS.isLoading || !activeBranch.closeQuestions.length">
          <div class="content">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
            <h4 class="mdl-typography--text-center">{{ activeBranch.requests.QUESTIONS.text }}</h4>
          </div>
        </div>
        <!-- Empty Response Indicator -->
        <div class="mdl-grid empty-holder" *ngIf="!activeBranch.requests.QUESTIONS.isLoading  && !activeBranch.closeQuestions.length && !activeBranch.requests.QUESTIONS.error">
          <h4 class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <i class="material-icons">mood_bad</i><br /> NO HAY PREGUNTAS EN ESTE PERÍODO
          </h4>
        </div>
        <!-- Error Response Indicator -->
        <div class="mdl-grid empty-holder" *ngIf="!activeBranch.requests.QUESTIONS.isLoading  && !activeBranch.closeQuestions.length && activeBranch.requests.QUESTIONS.error">
          <h4 class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <i class="material-icons">error</i><br /> {{ activeBranch.requests.QUESTIONS.error.text }}
          </h4>
        </div>
      </div>
    </div>
  </section>
  <section class="section section--open-questions" *ngIf="needsOpenAnswers">
    <div class="mdl-grid">
      <app-card
        class="mdl-cell mdl-typography--text-center"
        [class.mdl-cell--12-col]="activeBranch.openQuestions.length === 1"
        [class.mdl-cell--6-col]="activeBranch.openQuestions.length === 2"
        [class.mdl-cell--4-col]="activeBranch.openQuestions.length === 3"
        *ngFor="let q of activeBranch.openQuestions"
        loadingText="Cargando Preguntas Abiertas"
        (failed)="FetchQuestions()"
        [isDataTable]="true"
        [title]="q.pregunta">
          <app-answers-table
            (failed)="LoadOpenAnswers(q.idPregunta)"
            [withinCard]="true"
            [loading]="GetRequestAnswerInfo('AOPEN', q.idPregunta).isLoading && !GetAnswerDisplayData('AOPEN', q.pregunta).answers"
            [loadingText]="'Cargando ' + q.pregunta"
            [answers]="GetAnswerDisplayData('AOPEN', q.pregunta).answers || []"
            [errorText]="GetRequestAnswerInfo('AOPEN', q.idPregunta).error">
          </app-answers-table>
      </app-card>
    </div>
  </section>
</section>
<div class="load-optional-info" *ngIf="!needsCloseAnswers || !needsOpenAnswers">
  <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--raised" (click)="loadAnswersCharts($event)">
    {{needsDataLabel}} <i class="material-icons">question_answer</i>
  </button>
</div>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" data-mdl-for="branch-list">
  <a class="mdl-menu__item" *ngFor="let prof of profiles$ | async " (click)="NavigateToBranch(prof.OldProfileId)">
    {{ prof.Title }}
  </a>
</ul>
