<div class="mdl-grid toolbar mdl-color--primary mdl-color-text--primary-contrast">
  <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet cell filters">
    <div class="cell__header mdl-grid">
      <h6 class="mdl-cell cell__title mdl-typography--title">Filtros</h6>
    </div>
    <div class="cell__content">
      <form [formGroup]="filterForm" novalidate (ngSubmit)="sendFilters()" class="filter-form mdl-grid">
        <div class="field mdl-cell">
          <span class="field__name">Sucursales Disponibles</span>
          <div class="mdl-selectfield mdl-js-selectfield">
            <select [formControl]="filterSucursal" id="sucursales" class="mdl-selectfield__select" name="sucursales">
              <option value=""></option>
              <option value="/">Ver Todas</option>
              <option *ngFor="let sucursal of sucursales" [value]="sucursal.OldProfileId">{{ sucursal.Title  }}</option>
            </select>
            <label class="mdl-selectfield__label" for="sucursales">Seleccionar Sucursal</label>
          </div>
        </div>
        <div class="field mdl-cell">
          <span class="field__name">Fecha de Inicio</span>
          <div class="mdl-textfield mdl-js-textfield">
            <input [formControl]="filterFechaInicio" id="finicio" class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="finicio">Fecha Inicio</label>
          </div>
        </div>
        <div class="field mdl-cell">
          <span class="field__name">Fecha de Fin</span>
          <div class="mdl-textfield mdl-js-textfield">
            <input [formControl]="filterFechaFin" id="ffin" class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="ffin">Fecha Fin</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-right">
          <button [disabled]="!filterForm.valid"  type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-contrast">
            Aplicar Filtros <i class="material-icons">filter_list</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet cell">
    <div class="cell__header mdl-grid">
      <h6 class="mdl-cell mdl-cell--12-col cell__title mdl-typography--title">Total Encuestas</h6>
    </div>
    <div class="cell__content">
      <div class="totals mdl-grid">
        <div class="total mdl-cell mdl-cell--12-col">
          <span class="total__holder">General</span>
          <span class="total__total mdl-color--primary-dark">450</span>
        </div>
        <div class="total mdl-cell mdl-cell--12-col">
          <span class="total__holder">Hoy</span>
          <span class="total__total mdl-color--primary-dark">30</span>
        </div>
      </div>
    </div>
  </div>
</div>
