:host {
  display: block;
}

.totals {
  .total {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1em;
    &__holder {
      flex: 1;
    }
    &__total {
      padding: 0.5em;
      width: 5ch;
      border-radius: 0.2em;
      text-align: center;
    }
  }
}
