<div class="mdl-grid toolbar mdl-color--primary mdl-color-text--primary-contrast">
  <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet cell">
    <div class="cell__header">
      <h6 class="cell__title mdl-typography--title">Filtros</h6>
    </div>
    <div class="cell__content">
      contenido
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet cell">
    <div class="cell__header">
      <h6 class="cell__title mdl-typography--title">Total Encuestas</h6>
    </div>
    <div class="cell__content">
      <div class="totals">
        <div class="total">
          <span class="total__holder">General</span>
          <span class="total__total mdl-color--primary-dark">450</span>
        </div>
        <div class="total">
          <span class="total__holder">Hoy</span>
          <span class="total__total mdl-color--primary-dark">30</span>
        </div>
      </div>
    </div>
  </div>
</div>
