<div class="mdl-grid toolbar mdl-color--primary mdl-color-text--primary-contrast">
  <div class="mdl-cell mdl-cell--9-col mdl-cell--8-col-tablet cell filters">
    <div class="cell__header mdl-grid">
      <h6 class="mdl-cell cell__title mdl-typography--title">Filtros</h6>
    </div>
    <div class="cell__content">
      <form class="filter-form mdl-grid">
        <div class="field mdl-cell">
          <span class="field__name">Sucursales Disponibles</span>
          <div class="mdl-selectfield mdl-js-selectfield">
            <select id="sucursales" name="sucursales" class="mdl-selectfield__select">
              <option value=""></option>
              <option value="g">Ver Todas</option>
              <option value="1">Sucursal 1</option>
              <option value="2">Sucursal 2</option>
              <option value="3">Sucursal 3</option>
              <option value="4">Sucursal 4</option>
              <option value="5">Sucursal 5</option>
              <option value="6">Sucursal 6</option>
            </select>
            <label class="mdl-selectfield__label" for="sucursales">Seleccionar Sucursal</label>
          </div>
        </div>
        <div class="field mdl-cell">
          <span class="field__name">Fecha de Inicio</span>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="finicio">
            <label class="mdl-textfield__label" for="finicio">Fecha Inicio</label>
          </div>
        </div>
        <div class="field mdl-cell">
          <span class="field__name">Fecha de Fin</span>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="ffin">
            <label class="mdl-textfield__label" for="ffin">Fecha Fin</label>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-right">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary-contrast">
            Aplicar Filtros <i class="material-icons">filter_list</i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet cell">
    <div class="cell__header mdl-grid">
      <h6 class="mdl-cell mdl-cell--12-col cell__title mdl-typography--title">Total Encuestas</h6>
    </div>
    <div class="cell__content">
      <div class="totals mdl-grid">
        <div class="total mdl-cell mdl-cell--12-col">
          <span class="total__holder">General</span>
          <span class="total__total mdl-color--primary-dark">450</span>
        </div>
        <div class="total mdl-cell mdl-cell--12-col">
          <span class="total__holder">Hoy</span>
          <span class="total__total mdl-color--primary-dark">30</span>
        </div>
      </div>
    </div>
  </div>
</div>
