<nav class="mdl-navigation">
  <a class="mdl-navigation__link" [routerLink]="['overview']"
    routerLinkActive="mdl-navigation__link--active">
    <i class="material-icons">content_paste</i><br>
    <span>Resumen</span>
  </a>
  <a class="mdl-navigation__link" [routerLink]="['sucursales']"
    routerLinkActive="mdl-navigation__link--active">
    <i class="material-icons">show_chart</i><br>
    <span>Detalles</span>
  </a>
  <a class="mdl-navigation__link" (click)="disabledLink($event)">
    <i class="material-icons">description</i><br>
    <span>Reportes</span>
  </a>
  <a class="mdl-navigation__link" (click)="disabledLink($event)">
    <i class="material-icons">comment</i><br>
    <span>Comentario</span>
  </a>
  <div class="mdl-layout-spacer"></div>
</nav>
