.mdl-navigation__link.mdl-navigation__link.mdl-navigation__link {
  padding: 1.2rem 0;
  text-align: center;
  color: rgb(0, 103, 102);
  &.mdl-navigation__link--active {
    background: rgba(0,0,0,0.2);
  }
}
