.section {
  $component: 'section';

  &.#{$component}--full {
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  &.#{$component}--splash {
    background: {
      image: url(assets/images/RegresandoCompound.png);
      size: cover;
      repeat: no-repeat;
      position: center;
      attachment: fixed;
    };
    .#{$component}__headline {
      color: white;
      font-size: 6rem;
    }
  }
}

.login-form {
  $component: 'login-form';
  &.#{$component}__container {
    background: white;
    text-align: center;
    &.is--full {
      width: 100%;
    }
    .#{$component}__form {
      padding: 2rem;
      .mdl-textfield {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
  .#{$component}__footer {
    background: rgba(200,200,200,0.3);
    padding: 0.5rem;
    a {
      color: #545454;
    }
  }
  .#{$component}__messages {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: none;
    &.is-visible {
      display: block;
    }
    .#{$component}__message {
      &.#{$component}__message--is-error {
        color: #F44336;
      }
    }
  }
  .#{$component}__branding {
    margin-bottom: 0.5rem;
  }
}
