:host {
  display: block;
}

.count {
  opacity: 0.8;
  letter-spacing: 0;
  margin: 0;
}
.card {
  padding: 1.2rem;
  background: rgb(69,90,100);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
