<app-card
  class="mdl-shadow--2dp"
  style="font-size: 1.5rem;"
  title="KPIs"
  loadingText="Cargando KPIS..."
  [contentPadding]="false"
  [errorText]="errorText"
  [loading]="loading">
  <div class="mdl-grid" style="padding: 0 0.5rem; align-items: center;">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" *ngIf="IndiceSatisfaccion">
      <ng-gauge
        [rounded]="IndiceSatisfaccion.rounded"
        [bgRadius]="IndiceSatisfaccion.bgRadius"
        [bgColor]="IndiceSatisfaccion.bgColor"
        [labels]="IndiceSatisfaccion.labels"
        [segments]="IndiceSatisfaccion.segments">
      </ng-gauge>
    </div>
    <div class="mdl-cell mdl-cell--8-col" *ngIf="KPIS">
      <div class="mdl-grid">
        <div class="mdl-cell" *ngFor="let kpi of KPIS;">
          <ng-gauge
            [rounded]="kpi.rounded"
            [bgRadius]="kpi.bgRadius"
            [bgColor]="kpi.bgColor"
            [labels]="kpi.labels"
            [segments]="kpi.segments">
          </ng-gauge>
        </div>
      </div>
    </div>
  </div>
</app-card>
