<app-card
  class="mdl-shadow--2dp"
  style="font-size: 1.5rem;"
  title="KPIs"
  loadingText="Cargando KPIS..."
  [contentPadding]="false"
  [errorText]="errorText"
  [loading]="loading && !kpis.length">
  <div class="mdl-grid" style="padding: 0 0.5rem; align-items: center;  " *ngIf="IndiceSucursal && KPIS">
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <ng2-kw-gauge
        [rounded]="IndiceSucursal.rounded"
        [bgRadius]="IndiceSucursal.bgRadius"
        [bgColor]="IndiceSucursal.bgColor"
        [labels]="IndiceSucursal.labels"
        [segments]="IndiceSucursal.segments">
      </ng2-kw-gauge>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
      <div class="mdl-grid">
        <div class="mdl-cell" *ngFor="let kpi of KPIS;">
          <ng2-kw-gauge
            [rounded]="kpi.rounded"
            [bgRadius]="kpi.bgRadius"
            [bgColor]="kpi.bgColor"
            [labels]="kpi.labels"
            [segments]="kpi.segments">
          </ng2-kw-gauge>
        </div>
      </div>
    </div>
  </div>
</app-card>
