.mdl-layout--fixed-drawer>.mdl-layout__content {
  margin-left: 7rem;
}
@media screen and (max-width: 1024px) {
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .mdl-layout__drawer {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
.mdl-layout__drawer {
  width: 6rem;
  .mdl-navigation__link {
    padding: 1.2rem 0;
    text-align: center;
  }
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
  margin-left: 6rem;
  width: calc(100% - 6rem);
}
