.logo-holder {
  display: flex;
  height: 100%;
  width: 15rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.notification__link {
  position: relative;
}
.profile {
  &__image {
    width: 2em;
  }
  &__name {

  }
}
.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
  margin-left: 6rem;
  width: calc(100% - 6rem);
}
.mdl-layout__drawer {
  width: 6rem;
  .mdl-navigation__link {
    padding: 1.2rem 0;
    text-align: center;
  }
}
