<table class="mdl-data-table" [class.is--in-card]="withinCard" *ngIf="!loading && !!answers.length">
  <thead>
    <tr>
      <th rowspan="1" colspan="1" class="mdl-data-table__cell--non-numeric clickable"
        (click)="sortBy('date')"
        [class.mdl-data-table__header--sorted-ascending]="sorting === 'date'"
        [class.mdl-data-table__header--sorted-descending]="sorting === '-date'"
      >Fecha</th>
      <th rowspan="1" colspan="1" class="mdl-data-table__cell--non-numeric clickable"
        (click)="sortBy('answer')"
        [class.mdl-data-table__header--sorted-ascending]="sorting === 'answer'"
        [class.mdl-data-table__header--sorted-descending]="sorting === '-answer'"
      >Respuesta</th>
      <th rowspan="1" colspan="1" class="mdl-data-table__cell--non-numeric clickable"
        (click)="sortBy('session')"
        [class.mdl-data-table__header--sorted-ascending]="sorting === 'session'"
        [class.mdl-data-table__header--sorted-descending]="sorting === '-session'"
      >Talento Humano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of answers | orderBy: [sorting];">
      <td rowspan="1" colspan="1" class="mdl-data-table__cell--non-numeric">{{ a.date }}</td>
      <td rowspan="1" colspan="1" class="mdl-data-table__cell--non-numeric">{{ a.answer }}</td>
      <td rowspan="1" colspan="1" class="mdl-data-table__cell--non-numeric">{{ a.session || "Anonimo"}}</td>
    </tr>
  </tbody>
</table>
<div class="mdl-grid loading loading-holder mdl-typography--text-center" *ngIf="loading && !errorText">
  <div class="content">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
    <p class="mdl-typography--text-center">{{ loadingText }}...</p>
  </div>
</div>
<div class="mdl-grid empty loading-holder mdl-typography--text-center" *ngIf="!loading && !answers.length && !errorText">
  <div class="content">
    <span class="material-icons">mood_bad</span>
    <p class="mdl-typography--text-center">No se han encontrado respuestas para esta pregunta en este periodo</p>
  </div>
</div>
<div class="mdl-grid error loading-holder mdl-typography--text-center" *ngIf="!loading && !answers.length && !!errorText">
  <div class="content">
    <i class="material-icons">error</i><br />
    <p class="mdl-typography--text-center">{{ errorText }}</p>
  </div>
</div>
