/* You can add global styles to this file, and also import other style files */
@import "../node_modules/material-design-lite/dist/material.teal-cyan.min.css";
* {
  box-sizing: border-box;
}
// Material Icons Fix
.material-icons {
  width: 1em;
  line-height: 1;
  height: 1em;
  vertical-align: middle;
}

.u {
  &__img {
    &--responsive {
      max-width: 100%;
      height: auto;
    }
  }
}
