/* You can add global styles to this file, and also import other style files */
@import "custom-mdl";
@import "flatapickr-custom-theme";
@import "~dialog-polyfill/dialog-polyfill";
._dialog_overlay._dialog_overlay._dialog_overlay._dialog_overlay._dialog_overlay {
  z-index: initial !important;
}
* {
  box-sizing: border-box;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(assets/fonts/material-icons.woff2) format('woff2');
}

.material-icons {
  direction: ltr;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  height: 1em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  width: 1em;
  word-wrap: normal;
  vertical-align: middle;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mdl-card {
  background: #fff;
}

main {
  background: #f5f5f5;
}

.mdl-button--icon.mdl-button--extra-padding {
  padding: 2rem;
}
.mdl-layout__header .mdl-layout__drawer-button {
  background: transparent;
  color: rgba(0,0,0,.5);
  .material-icons {
    vertical-align: baseline;
  }
}
.mdl-layout__drawer {
  border: none;
}
.mdl-button--no-effect {
  &:hover,
  &:active,
  &:focus {
    background: transparent;
  }
}

.mdl-layout__drawer.mdl-color--primary,
.mdl-layout__drawer.mdl-color--primary .mdl-navigation__link,
.mdl-layout__drawer.mdl-color--primary-dark,
.mdl-layout__drawer.mdl-color--primary-dark .mdl-navigation__link {
  color: white;

}
.mdl-layout__drawer.mdl-color--primary .mdl-navigation__link:hover,
.mdl-layout__drawer.mdl-color--primary .mdl-navigation__link.mdl-navigation__link--active,
.mdl-layout__drawer.mdl-color--primary-dark .mdl-navigation__link:hover,
.mdl-layout__drawer.mdl-color--primary-dark .mdl-navigation__link.mdl-navigation__link--active {
  background: rgba(50, 50, 50, 0.36);
}
.mdl-data-table td, .mdl-data-table td .mdl-data-table__select {
  color: rgba(0,0,0,0.87);
}
.mdl-badge[data-badge]:after {
  // TODO hay que cambiar esto cada vez que se cambie la paleta de colores para que se ajuste
  background: #00A4A3;
  color: rgb(255, 255, 255);
}
a {
  // TODO hay que cambiar esto cada vez que se cambie la paleta de colores para que se ajuste
  color: #00A4A3;
}
.u {
  &__img {
    &--responsive {
      max-width: 100%;
      height: auto;
    }
    &--circle {
      border-radius: 50%;
    }
  }
}

.mdl-spinner:not(.is-upgraded).is-active:after {
  content: 'Cargando...'
}
.section__title {
  padding: 0 1rem;
  @extend .mdl-color-text--primary;
}
