<app-toolbar
  (applyFilters)="applyFilters($event)"
  [sucursales]="userProfiles"
  [totalHoy]="totalHoy"
  [totalGeneral]="totalGeneral"
  ></app-toolbar>
<div class="mdl-grid">
  <app-chart-card
    class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-card"
    chartTitle="Historico de Encuestas"
    chartType="bar"
    lodingText="Cargando Historico de Encuestas"
    (failed)="loadLinearChart()"
    [errorText]="linearError"
    [chartLabels]="linearLabels"
    [chartData]="linearData"
    [chartColors]="COLORS"
    ></app-chart-card>
  <app-chart-card
    class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card"
    chartTitle="Encuestas por Sucursal"
    chartType="pie"
    lodingText="Cargando Total de Sucursales"
    (failed)="loadDonutChart()"
    [errorText]="donutError"
    [chartLabels]="donutLabels"
    [chartData]="donutData"
    [chartColors]="COLORS"
    >
  </app-chart-card>
</div>
<section class="section">
  <h2 class="section__title">Sucursales</h2>
  <sucursales-list [sucursales]="userProfiles" [colors]="COLORS"></sucursales-list>
</section>
