<app-filter (applyFilters)="ApplyFilters($event)" [filters]="currentQuery"></app-filter>
<app-totales-container
  [total]="totalGeneral | async"
  [hoy]="totalToday | async"
  [indice]="branchIndex |async"
  [contactos]="newContacts | async"
  tipoIndice="General"
></app-totales-container>
<div class="mdl-grid">
  <app-chart-card
    class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp"
    style="font-size: 1.5rem;"
    chartTitle="Histórico de Encuestas"
    chartType="bar"
    loadingText="Cargando Histórico de Encuestas"
    (failed)="LoadHistoricSurvey(currentQuery)"
    [loading]="historicSurveyLoading"
    [errorText]="historicSurveyError"
    [chartLabels]="historicSurveyLabels"
    [chartData]="historicSurveyData"
    [chartColors]="branchColors"
    ></app-chart-card>
  <app-chart-card
    class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp"
    style="font-size: 1.5rem;"
    chartTitle="Encuestas por Sucursal"
    chartType="doughnut"
    loadingText="Cargando Total de Sucursales"
    (failed)="LoadGeneralSurvey(currentQuery)"
    [loading]="generalSurveyLoading"
    [errorText]="generalSurveyError"
    [chartLabels]="generalSurveyLabels"
    [chartData]="generalSurveyData"
    [chartColors]="branchColors"
    >
  </app-chart-card>
</div>
<section class="section">
  <app-sucursales-list [sucursales]="userProfiles" [colors]="branchColors"></app-sucursales-list>
</section>
