<app-filter (applyFilters)="applyFilters($event)" [filters]="currentFilters"></app-filter>
<section class="section mdl-grid">
  <app-totales-card class="mdl-cell mdl-cell--3-col" cardType="total" count="500" text="Total de Encuestas"></app-totales-card>
  <app-totales-card class="mdl-cell mdl-cell--3-col" cardType="hoy" count="25" text="Total de Hoy"></app-totales-card>
  <app-totales-card class="mdl-cell mdl-cell--3-col" cardType="indice" count="5" text="Indice de Sucursal"></app-totales-card>
  <app-totales-card class="mdl-cell mdl-cell--3-col" count="6" text="Sucursales Activas"></app-totales-card>
</section>
<div class="mdl-grid">
  <app-chart-card
    class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp"
    style="font-size: 1.5rem;"
    chartTitle="Historico de Encuestas"
    chartType="bar"
    lodingText="Cargando Historico de Encuestas"
    (failed)="loadHistoricoEncuestas(query)"
    [loading]="historicoEncuestasLoading"
    [errorText]="historicoEncuestasError"
    [chartLabels]="historicoEncuestasLabels"
    [chartData]="historicoEncuestasData"
    [chartColors]="COLORS"
    ></app-chart-card>
  <app-chart-card
    class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp"
    style="font-size: 1.5rem;"
    chartTitle="Encuestas por Sucursal"
    chartType="doughnut"
    lodingText="Cargando Total de Sucursales"
    (failed)="loadEncuestasSucursales(query)"
    [loading]="encuestasSucursalesLoading"
    [errorText]="encuestasSucursalesError"
    [chartLabels]="encuestasSucursalesLabels"
    [chartData]="encuestasSucursalesData"
    [chartColors]="COLORS"
    >
  </app-chart-card>
</div>
<section class="section">
  <sucursales-list [sucursales]="userProfiles" [colors]="COLORS"></sucursales-list>
</section>
